*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* global variables */
:root {
    --1px: 0.0625rem;
    --2px: 0.125rem;
    --3px: 0.1875rem;
    --4px: 0.25rem;
    --5px: 0.3125rem;
    --6px: 0.375rem;
    --7px: 0.4375rem;
    --8px: 0.5rem;
    --9px: 0.5625rem;
    --10px: 0.625rem;
    --11px: 0.6875rem;
    --12px: 0.75rem;
    --13px: 0.8125rem;
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
    --22px: 1.375rem;
    --24px: 1.5rem;
    --28px: 1.75rem;
    --32px: 2rem;
    --35px: 2.1875rem;
    --50px: 3.125rem;
    --60px: 3.75rem;
    --70px: 4.375rem;
    --80px: 5rem;
    --97px: 6.0625rem;
    --100px: 6.25rem;
    --450px: 28.125rem;
    --500px: 31.25rem;
    --900px: 56.25rem;
    --1400px: 87.5rem;

}
/* global variables */


body {
    background-color: #fffff3;
}

img {
    max-width: 100%;
}

/* navigation stylization */

nav {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 3.75rem;
    background-color: #604829;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .content__container {
    width: var(--1400px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo__container a img {
    width: 3.125rem;
}

nav .menu__container a {
    display: inline-block;
    font-size: var(--14px);
    font-family: 'Oswald', sans-serif;
    color: #c4a47c;
    margin-left: var(--35px);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--2px);
    font-weight: 700;
    transition: 0.5s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    padding:0.5rem 0.9375rem;
    border-radius: 0.3125rem;
    border: none;
}

nav .menu__container a:hover {
    box-shadow: 0 0 8px #ACACAC;
    
}
/* navigation stylization */

/* header stylization */
header {
    min-height: 100vh;
    background-image: url('/images/parallax-imagem1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: 100%;
    max-width: var(--1400px);
    font-size: 6.25rem;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight:lighter;
    font-style: italic;
    letter-spacing: 0.3125rem;
}
/* header stylization */

/* information section stylization */
.information {
    /* min-height: calc(100vh - 90px); */
    width: 100%;
    text-align: center;
}

.faixa {
    padding-top: 4.375rem;
}
.faixa img {
    width: 5.625rem;
 }

.text__container {
    max-width: var(--1400px);
    margin: 0 auto;
}



.text__container h2 {
    font-size: var(--28px);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #c4a47c;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 3.125rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.text__container p {
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    color: #666;
    line-height: 2.1875rem;
    letter-spacing: 0.0625rem;
    padding-bottom: 5rem;
}

.image__container__one {
    background-image: url('/images/parallax-imagem2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

.image__container__one, .image__container__two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container__one h3, .image__container__two h3 {
    font-family: 'Fraunces', serif;
    font-size: 1.75rem;
    color: #fff;
    background-color: #604829;
    padding: 0.625rem 1.125rem;
    border-radius: 0.3125rem;
}

.image__container__two {
    background-image: url('/images/parallax-imagem3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
/* information section stylization */

/* contact section stylization */
.contact {
    min-height: 100vh;
    background-image: url('/images/parallax-imagem4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}




.iframe__container iframe {
    width: 100%;
    max-width: 1400px;
    height: var(--450px);
    margin: 0 auto;
    border: none;
    border-radius: var(--5px);
    box-shadow: 0 0 8px #ACACAC;
    opacity: 0.9;
}

.contact h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: var(--24px);
    width: 100%;
    max-width: var(--500px);
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #604829;
    padding: var(--10px) var(--18px);
    border-radius: var(--5px);
    margin-top: var(--80px);
}

.contact__container__text {
    width: 100%;
    max-width: var(--500px);
    margin: 0 auto;
    text-align: center;
    background-color: #604829;
    padding: var(--10px);
    border-radius: var(--5px);
}

.contact__container__text p {
    font-size: var(--16px);
    font-family: 'Oswald';
    color: #fff;
    line-height: var(--35px);
    letter-spacing: 1px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.contact__container__text a {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: .4s;
}

.contact__container__text a:hover {
    border-bottom: 1px solid #fff;
}


/* contact section stylization */

/* schedules section stylization */
.schedules {
    min-height: 85vh;
    background-image: url('/images/cafeteria.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.schedules h2 {
    text-transform: uppercase;
    letter-spacing: var(--2px);
    margin-top: 5%;
    font-size: var(--24px);
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: var(--5px);
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.schedules__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.schedules .list {
    color: #fff;
    list-style: none;
    width: 100%;
    max-width: var(--900px);
    margin: 0 auto;
    position: relative;
    margin-top: -5%;
}

.list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--10px) 0;
}

.list li h3 {
    font-size: var(--18px);
    font-family: 'Oswald';
    color: #fff;
    letter-spacing: var(--5px);
    margin-bottom: var(--20px);
}

.list li div { /* tarja */
    width: var(--500px);
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 1;

}



.list li p, .texto__marrom {
    text-transform: uppercase;
    letter-spacing: var(--5px);
    font-size: var(--14px);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.texto__marrom {
    color: #c4a47c;
}

.list li p {
    color: #ACACAC;
}




/* schedules section stylization */

/* footer section stylization */
footer {
    position: relative;
    background-color: #000000;
    color: #fff;
    padding: var(--20px) 0;
    text-align: center;
    line-height: var(--35px);
    letter-spacing: var(--2px);
    min-height: calc(25vh - 97px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

footer strong {
    color: #c4a47c;
    font-style: italic;
}

.seta {
    display: inline-block;
    width: var(--60px);
    height: var(--60px);
    position: absolute;
    bottom: 100px;
    right: var(--50px);

    background-image: url("/images/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: var(--4px);
}
/* footer section stylization */