* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* navigation stylization */

nav {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 90px;
    background-color: #604829;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .content__container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo__container a img {
    width: 70px;
}

nav .menu__container a {
    display: inline-block;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #c4a47c;
    margin-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

nav .menu__container a:hover {
    box-shadow: 0 0 8px #ACACAC;
    
}
/* navigation stylization */

/* header stylization */
header {
    min-height: calc(100vh - 90px);
    background-image: url('/images/parallax-imagem1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: 100%;
    max-width: 1400px;
    font-size: 100px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight:lighter;
    font-style: italic;
    letter-spacing: 5px;
}
/* header stylization */

/* information section stylization */
.information {
    min-height: calc(100vh - 90px);
    width: 100%;
    text-align: center;
}

.faixa {
    height: 90px;
    background-color:#666;
}

.text {
    max-width: 1400px;
    margin: 0 auto;
}

.text h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #c4a47c;
    letter-spacing: 2px;
    padding: 50px 0;
}

.text p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #666;
    line-height: 35px;
    letter-spacing: 1px;
    padding-bottom: 80px;
}

.image__container__one {
    background-image: url('/images/parallax-imagem2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

.image__container__one, .image__container__two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container__one h3, .image__container__two h3 {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: #fff;
    background-color: #604829;
    padding: 10px 18px;
    border-radius: 5px;
}

.image__container__two {
    background-image: url('/images/parallax-imagem3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
/* information section stylization */