* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffff3;
}

img {
    max-width: 100%;
}

/* navigation stylization */

nav {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 60px;
    background-color: #604829;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .content__container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo__container a img {
    width: 50px;
}

nav .menu__container a {
    display: inline-block;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    color: #c4a47c;
    margin-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

nav .menu__container a:hover {
    box-shadow: 0 0 8px #ACACAC;
    
}
/* navigation stylization */

/* header stylization */
header {
    min-height: 100vh;
    background-image: url('/images/parallax-imagem1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    width: 100%;
    max-width: 1400px;
    font-size: 100px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight:lighter;
    font-style: italic;
    letter-spacing: 5px;
}
/* header stylization */

/* information section stylization */
.information {
    /* min-height: calc(100vh - 90px); */
    width: 100%;
    text-align: center;
}

.faixa {
    padding-top: 70px;
}
.faixa img {
    width: 90px;
}

.text__container {
    max-width: 1400px;
    margin: 0 auto;
}



.text__container h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #c4a47c;
    letter-spacing: 2px;
    padding: 50px;
}


.text__container p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #666;
    line-height: 35px;
    letter-spacing: 1px;
    padding-bottom: 80px;
}

.image__container__one {
    background-image: url('/images/parallax-imagem2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

.image__container__one, .image__container__two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__container__one h3, .image__container__two h3 {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: #fff;
    background-color: #604829;
    padding: 10px 18px;
    border-radius: 5px;
}

.image__container__two {
    background-image: url('/images/parallax-imagem3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
/* information section stylization */

/* contact section stylization */
.contact {
    min-height: 100vh;
    background-image: url('/images/parallax-imagem4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}




.iframe__container iframe {
    width: 100%;
    max-width: 1400px;
    height: 450px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px #ACACAC;
    opacity: 0.9;
}

.contact h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #604829;
    padding: 10px 18px;
    border-radius: 5px;
    margin-top: 80px;
}

.contact__container__text {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #604829;
    padding: 10px;
    border-radius: 5px;
}

.contact__container__text p {
    font-size: 16px;
    font-family: 'Oswald';
    color: #fff;
    line-height: 35px;
    letter-spacing: 1px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.contact__container__text a {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: .4s;
}

.contact__container__text a:hover {
    border-bottom: 1px solid #fff;
}


/* contact section stylization */

/* schedules section stylization */
.schedules {
    min-height: 85vh;
    background-image: url('/images/cafeteria.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.schedules h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

.schedules__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.schedules .list {
    color: #fff;
    list-style: none;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: -5%;
}

.list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.list li h3 {
    font-size: 18px;
    font-family: 'Oswald';
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.list li div { /* tarja */
    width: 500px;
    height: 1px;
    background-color: #acacac;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    z-index: 1;

}



.list li p, .texto__marrom {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.texto__marrom {
    color: #c4a47c;
}

.list li p {
    color: #ACACAC;
}




/* schedules section stylization */

/* footer section stylization */
footer {
    position: relative;
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    min-height: calc(25vh - 97px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

footer strong {
    color: #c4a47c;
    font-style: italic;
}

.seta {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    right: 50px;

    background-image: url("/images/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #c4a47c;
    border-radius: 4px;
}
/* footer section stylization */