* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navigation stylization */

nav {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 90px;
    background-color: #604829;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .content__container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .logo__container a img {
    width: 70px;
}

nav .menu__container a {
    display: inline-block;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #c4a47c;
    margin-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

nav .menu__container a:hover {
    box-shadow: 0 0 8px #ACACAC;
    
}
/* navigation stylization */